@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #ffff;
}

.bg-blue {
  background-color: #0d47a1;
}
.css-eqxvro:focus,
.css-eqxvro[data-focus] {
  box-shadow: none !important;
}
